<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, user-sacalable=no,initial-scale=1,maximum-scale=1.0,minimum-scale=1.0 ">

    <!-- Bootstrap CSS -->
    
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <!-- Jquery and Popper -->
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    
    <script type="/static/js/bootstrap.min.js"></script>
  

    <title>Estacion Meteorologica</title>

    <!--Para el fondo de pantalla-->
    <!--<link rel="stylesheet" type="text/css" href="/static/css/estilos.css">
-->
</head>
    
    

 
<body>



 

<div class="container">    
<div class="row">
   
      <div class="col-8">
                <div class="container">

                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                </thead>
                                                <tbody>                            
                                                    <tr class="p-3 mb-2 bg-primary text-red">
                                                        <th colspan="2">
                                                            <span class="strong ">Datos Estación Meteorológica: </span> 
                                                        </th>
                                                    </tr>
                                                                                        
                                                        <tr>
                                                            <td> Temperatura: {{ l.temperature }}</td> <td> °C</td>
                                                        </tr>

                                                        <tr>
                                                            <td>Humedad Relativa: {{ l.humidity }}</td> <td> %</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Presión Atmosférica</td>
                                                            <td>{{ l.pressure }} hPa </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Velocidad del viento</td>
                                                            <td>{{ l.windspeed }}  km/h </td>
                                                        </tr>       
                                                </tbody>
                                            </table>
                        </div>
                </div>



      </div>



      <div class="col-4">
                <div class="container" align="right">


                    <table class="table table-bordered">
                                            <thead>
                                            <tr class="p-3 mb-2 bg-primary text-white"> <th colspan="2" class="bg-gris padding-06">Promedio de las ultimas 10 muestras </th>
                                            </tr>                 
                                            </thead>
                                            <tbody>
                                                <tr><td>Temperatura</td>                    <td>{{t.temperature}}</td></tr>
                                                <tr><td>Humedad</td>                          <td>{{t.humidity}}</td></tr>
                                                <tr><td>Presion Atmosferica</td>              <td>{{t.pressure}}</td></tr>
                                                <tr><td>Velocidad del Viento</td>             <td>{{t.windspeed}}</td></tr>
                                            </tbody>
                    </table>


                </div>

      </div>
</div>

<div class="row">
      <div class="col-sm">
         <form action="/">
              Intervalo de muestreo: <br>
              <input type="text" name="Valorderefresco" value="" id="refresco">
              <input type="submit" class="btn btn-primary" value="accept">  
         </form> 
     </div>    
</div>


</div>



   
</body>


<script type="text/javascript">
     function getParameterByName(name) 
     {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
    results = regex.exec(location.search);
    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }
</script>
<script type="text/javascript">
 
  if(getParameterByName('Valorderefresco') != '' )
    {
      var val = 1000*getParameterByName('Valorderefresco');
     //console.log(val)    
        self.setInterval("refresh()",val);
        function refresh()
        {
          location.reload(true);
        }
    }
</script>


</html>